body {
  padding: 0;
  margin: 0;
}

.navbar {
  width: 80%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: rgb(42, 42, 42);
  border-radius: 30px;
  margin: 15px auto;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  color: white;
}
