/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Archivo+Black&family=Archivo:ital,wght@0,100..900;1,100..900&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Cinzel+Decorative:wght@400;700;900&family=Fredoka:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rowdies:wght@300;400;700&family=Uncial+Antiqua&display=swap");

@font-face {
  font-family: "NeueMachina";
  src: url("../fonts/NeueMachina.otf") format("opentype");
}

@font-face {
  font-family: "LeagueSpartan";
  src: url("../fonts/LeagueSpartan.otf") format("opentype");
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Base Style */
body {
  background-color: #121212;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

/* Layout */
.main {
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  
}

.main-content {
  width: 50%;
}

.main-content h1,
.main-content h2,
.main-content h3 {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

.main-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 3rem 9vw 0rem;
}

/* Main Text */
#name-text {
  font-family: "NeueMachina";
  font-size: clamp(5rem, 8vw, 10.5rem);
  color: #8b61c2;
  min-height: 1.35em;
}

.developer-text {
  font-family: "LeagueSpartan";
  text-transform: uppercase;
  font-size: clamp(1.5rem, 3vw, 3.25rem);
  color: #fff;
}

.quote {
  font-family: "Poppins";
  font-weight: 100;
  font-size: clamp(1rem, 2vw, 1.84rem);
  color: #fff;
  margin-bottom: 1rem;
  flex-direction: column;
}

.action {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
  margin: 2rem 9vw 0rem;
}

.download-cv {
  margin: 0;
}
/* Button */
.download-cv button {
  width: 13em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  background-color: #8b61c2;
  font-weight: 600;
  font-family: "Fredoka";
  font-size: 1.2rem;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
  color: #fff;
  box-shadow: 1px 3px 8px rgba(82, 82, 82, 0.5),
    1px -3px 8px rgba(95, 95, 95, 0.5);
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin: 0;
}

.download-cv button::before {
  content: "";
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.download-cv button:hover::before {
  width: 13em;
}

.download-cv img {
  width: 1rem;
  height: 1rem;
  filter: invert(100%);
}

/* Socials */

.socials {
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  margin-left: 8px;
}

.socials ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
}

svg image {
  filter: invert(100%);
}

svg circle {
  fill: #8b61c2;
}

/* Image Side */
.main-img {
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  /* background-color: rgb(116, 116, 116); */
}

.circle-bg {
  margin-left: 4rem;
  position: absolute;
  top: 5rem;
  left: 4.3rem;
  width: clamp(200px, 50vw, 550px);
  height: 550px;
  border-radius: 50%;
  background-image: radial-gradient(white 1px, transparent 2px);
  background-size: 35px 35px;
  z-index: -2;
}

.main-photo {
  /* background-color: #f9f047; */
  position: relative;
  right: 6.2rem;
  bottom: clamp(3rem, 60vw, 3rem);
  width: clamp(300px, 70vw, 660px);
  height: auto;
  border-radius: 50%;
}

@media (max-width: 940px) {
  .main-photo {
    width: clamp(300px, 60vw, 560px);
    right: 1rem;
    bottom: 6rem;
  }

  #name-text {
    font-size: clamp(4rem, 10vw, 12rem);
  }
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
    height: auto;
    padding: 1rem 1rem;
  }

  .main-content,
  .main-img {
    width: 100%;
    text-align: center;
  }

  .circle-bg,
  .main-photo {
    width: 80%;
    height: auto;
    position: static;
    margin: 0 auto;
  }

  .download-cv {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-text {
    margin: 0rem 9vw 1rem;
  }

  .main-content {
    margin-top: 1px;
  }

  .action {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  .socials {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 576px) {
  #name-text {
    font-size: clamp(4.5rem, 8vw, 10.5rem);
  }

  .main {
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: clamp(14vh, 8vh, 24vh);
    height: auto;
    /* background-color: #0fd850; */
  }
  
  .main-text {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 0;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.5);
  }
  
  .action {
    margin-top: 1.5rem;
  }

  .download-cv button {
    width: 13em;
    height: 3em;
    font-size: 1.1rem;
  }

  .main-img {
    position: absolute;
    bottom: 10rem;
    right: 3.2rem;
    margin: 0;
    padding: 0;
    z-index: -1;
  }

  .main-img img {
    border-radius: 0;
    max-width: 600px;
    max-height: 600px;
  }
}
